*{
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 25px 50px;
    font-size: 20px;
    padding:10px;
}
.container{
    background-color:rgb(175, 231, 255);
    padding: 10px 20px 30px 40px;
    border: 2px solid rgb(2, 172, 250);
    border-radius: 10px;
}
input[type="text"],
input[type="email"],
input[type="message"],
input[type="subject"],
select,
textarea{
    width: 100%;
    padding:20px;
    border:2px solid rgb(144, 194, 241);
    margin: 5px;
}
fieldset{
    background-color: skyblue;
    border: 2px solid rgb(134, 192, 240);
}

.heading{
    text-align: center;
}
 
input[ type="submit"]
{
    background-color: rgb(226, 237, 245);
    color: cornflowerblue;
    padding: 20px;
    border: 2px solid rgb(175, 231, 255);
    border-radius: 5px;
    width: 100%;    
}
 input[type="submit"]:hover
 {
     background-color: rgb(241, 209, 209);
 }